// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

$primary-color: #4DBFB4;
$secondary-color: #FFD500;

$accent-color: #1d1d1b;

$dark-color: #4DBFB4;
$light-color: #ffffff;

$gray-color-900: #3A4049;
$gray-color-800: #626D7D;
$gray-color-700: #7F8A9B;
$gray-color-600: #98A0AE;
$gray-color-500: #ADB3BE;
$gray-color-400: #BFC4CD;
$gray-color-300: #CFD3DA;
$gray-color-200: #DEE1E5;
$gray-color-100: #ECEEF0;
$gray-color-0: #F9F9FA;

$size: 12px;
$grid: 1440px;

$xlarge: 1240px;
$large: 992px;
$medium: 744px;
$small: 324px;
