
//-------- MEDIAQUERIES --------
$phone-s: 375px;
$phone-m: 426px;

$tablet_m: 768px;
$tablet_l: 1024px;

$desktop_xl: 1360px;
$desktop_2xl: 1600px;


@mixin phone {
  @media (max-width: #{$tablet_m - 1}) {
    @content;
  }
}
@mixin phone-max {
  @media (max-width: #{$tablet_m - 1}) {
    @content;
  }
}

@mixin tablet-l {
  @media (max-width: #{$tablet_l - 1 }){
    @content;
  }
}
@mixin tablet-p {
    @media (max-width: #{$tablet_l - 1}) {
      @content;
    }
  }
