@import "./base/base";
@import "./base/grid";

//-------------------------
//Modales transcion
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
//------------------------------
//Modal styles
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  @include phone-max {
    position: absolute;
  }
  .modalButtons {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.ModalContent {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb (204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  @include phone-max {
    position: fixed;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    height: 100vh;
    width: 100%;
    outline: none;
    padding: 20px;
    border-radius: 0px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
}
.ModalContainerText {
 
  
}
//-------------------------
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Rubik", sans-serif;
  --bg-color: #{$gray-color-0};
  /* set base colors */
  --color-text: #{$gray-color-900};

  /* set base values */
  --text-base-size: 16px;
  --text-scale-ratio: 1.2;

  /* type scale */
  --text-xs: calc(
    var(--text-base-size) / (var(--text-scale-ratio) * var(--text-scale-ratio))
  );
  --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* set line-height */
  --heading-line-height: 1.25;
  --body-line-height: 1.5;

  /* set color */

  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --button-color: #{$button-color};
  --acent-color: #{$accent-color};
  --accent-color-2: #{$accent-color-2};

  --dark-color: #{$dark-color};
  --light-color: #{$light-color};

  --gray-color-900: #{$gray-color-900};
  --gray-color-800: #{$gray-color-800};
  --gray-color-700: #{$gray-color-700};
  --gray-color-600: #{$gray-color-600};
  --gray-color-500: #{$gray-color-500};
  --gray-color-400: #{$gray-color-400};
  --gray-color-300: #{$gray-color-300};
  --gray-color-200: #{$gray-color-200};
  --gray-color-100: #{$gray-color-100};
  --gray-color-0: #{$gray-color-0};

  --feedback-critical-light: #fa0a32;
  --feedback-critical: #ffc2c6;

  --feedback-warning-light: #fcda6a;
  --feedback-warning: #fc9700;

  --feedback-success-light: #389e0d;
  --feedback-success: #a7eb92;

  --container: #{$xlarge};
  --container-tablet-landscape: #{$large};
  --container-tablet-portrait: #{$medium};
  --container-phone-max: #{$smallmax};
  --container-phone: #{$small};
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
form legend {
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
  color: var(--color-text);
}

h1,
h2,
p {
  font-weight: 400;
}
b,
strong {
  font-weight: 700;
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
}

h2,
.text--xl {
  font-size: var(--text-xl);
}

h3,
.text--lg {
  font-size: var(--text-lg);
}

h4,
.text--md {
  font-size: var(--text-md);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
  color: var(--gray-color-700);
}

ul li {
  color: var(--gray-color-700);
}
.mt-1 {
  margin-top: #{$size};
}
.mb-1 {
  margin-bottom: #{$size};
}

.mt-2 {
  margin-top: #{$size * 2};
}
.mb-2 {
  margin-bottom: #{$size * 2};
}
.mt-3 {
  margin-top: #{$size * 3};
}
.mb-3 {
  margin-bottom: #{$size * 3};
}
.mt-4 {
  margin-top: #{$size * 4};
}
.mr-1 {
  margin-right: #{$size * 1};
}
.mb-4 {
  margin-bottom: #{$size * 4};
}
.mt-2 {
  margin-top: #{$size * 2} !important;
}
.mt-3 {
  margin-top: #{$size * 3} !important;
}
.mt-4 {
  margin-top: #{$size * 4} !important;
}
.mr-1 {
  margin-right: #{$size * 1} !important;
}
.mt-5 {
  margin-top: #{$size * 5} !important;
}
.mb-5 {
  margin-bottom: #{$size * 5};
}
.ml-5 {
  margin-left: #{$size * 5};
}
.mr-5 {
  margin-right: #{$size * 5};
}
.pt-2 {
  padding-top: #{$size * 2};
}
.pt-5 {
  padding-top: #{$size * 5};
}

.row {
  display: flex;
  flex-direction: row;
}
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border: 1px solid var(--gray-color-200);
}
.text-center {
  text-align: center !important;
}
.align-center {
  display: flex !important;
  align-items: center !important;
}

.FormAction {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  @include phone-max {
    width: 100%;
    padding-top: 1em;
  }
  a {
    color: var(--color-text);
    text-decoration: none;
  }
  hr {
    border: 1px solid #e8e8e8;
    width: 50%;
    margin-bottom: 2rem;
  }

  .disabled {
    background: black;
  }
}

.pagination {
  justify-content: center;
}

.react-paginate {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 1px solid #e2e2e2;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 0.2rem;
}

ul.pagination li a {
  text-decoration: none;
  color: var(--acent-color);
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: var(--button-color);
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: var(--dark-color);
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#react-paginate ul {
  display: inline-block;
  margin-left: 20px;
  padding-left: 0;
}

#react-paginate li {
  display: inline-block;
  border: 1px solid rgb(224, 224, 224);
  color: #000;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#react-paginate li a {
  padding: 4px 4px;
  display: inline-block;
  color: #000;
  outline: none;
}

#react-paginate li.active {
  background: rgb(224, 224, 224);
  outline: none;
}

.dflex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.w-100 {
  width: 100%;
}
.jc-sb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.algn-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mr-2 {
  margin-right: 0.5rem;
}

.coverHeaderFlex {
  display: flex;
  justify-content: space-between;
}
.hide-caracter {
  width: 23px;
  overflow: hidden;
  white-space: nowrap;
  &::after {
    content: "%";
  }
}

.tabsection {
  background-color: #f0f0f0;
  width: 100%;
  padding: 16px;
}

.mt-10 {
  margin-top: 100px;
}
.primary-color {
  color: var(--primary-color);
}
.accent-color {
  color: var(--acent-color);
}
.card {
  background: #f9f9fa;
  border-radius: 8px;
}

.mmlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    margin-right: 0.5rem;
  }
}

.mlist {
  display: flex;
  align-items: center;
  button {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
  }
}

.containerModal {
  padding: 1rem;
  text-align: center;
  .headModal {
    text-align: center;
  }
  .contentModal {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
}
.FormGroupAllInputs {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .containerLabeInput {
    display: flex;
    flex-direction: row;
    @include phone-max {
        flex-direction: column;
        padding-bottom: 1.25em;
    }
    p {
      width: 40%;
      @include phone-max {
        width: 100%;
      }
    }
    .inputContainer {
      width: 60%;
      @include phone-max {
        width: 100%;
      }
      .field {
        margin-left: 5em;
        @include phone-max {
          margin: 0px;
        }
      }
    }
  }
  a {
    color: var(--color-text);
    text-decoration: none;
  }
  .has-error-description {
    display: block;
  }
  .has-error-description-email {
    display: block;
  }
}
.conteiner-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}