@import "./../base/_grid.scss";
.card{
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid var(--gray-color-100);
    background-color: var(--light-color);
    margin-right: 16px;
    &:last-child{
        margin-right: 0;
    }
    @include tablet-p {
        margin-right: 24px;
        flex: 1 ;
        margin-bottom: 24px;
      }

    @include phone {
        width: var(--container-phone);
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        margin-right: 0px;
      }
}