@import "./../base/_grid.scss";

footer {
  background-color: var(--dark-color);
  @include tablet-l {}
  @include phone {}
  .footerContent {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 12%;
    @include tablet-l {
      padding: 24px 2em;
    }

    @include phone {
      flex-direction: column;
   
    }
    p {
      color: var(--light-color);
      font-weight: 200;
    }

    .logoFooter {
      width: 200px;
    }

    article {
      flex: 1;
      padding: 28px 0;

      &:first-child {
        flex: 2;
      }

      ul {
        li {
          list-style: none;
          color: var(--light-color);
          font-weight: 300;
          cursor: pointer;
          margin-bottom: 8px;

          &:hover {
            font-weight: 500;
          }

          :active {
            font-weight: 500;
          }
        }
      }
    }
  }

}