@import "./../base/_grid.scss";

.applyJob {
  width: var(--container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 80px auto 40px;
  @include tablet-l {
    width: var(--container-tablet-landscape);
  }
  @include tablet-p {
    width: var(--container-tablet-portrait);
  }
  @include phone {
    width: var(--container-phone);
  }


}


.react-tabs__tab {
    display: inline-block;
    border: 0px solid transparent!important;
    border-bottom: 0px;
    bottom: 0px!important; 
    position: inherit!important;
    list-style: none;
    padding: 8px 32px!important;
    cursor: pointer;
    font-size: 16px!important;
}
.react-tabs__tab--selected {
    background: transparent!important;
    border-color: transparent!important;
    border-bottom: 2px solid var(--primary-color)!important;
    color: black;
    border-radius: 0px!important;
}

.formApply{
    text-align: left;
    width: 60%;
    margin: 0 auto;
}
.FormGroup{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  :first-child, :last-child{
    width: 50%;
  }
}
.FormGroup-full{
  :first-child{
    width: 100%;
  }
}
.footerSection{
  text-align: center;
  margin-top: 40px;
}

.gridBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}