@import "./../base/_grid.scss";

.corporativoPage {
    width: var(--container);
    display: flex;
    flex-direction: row;
    margin: 80px auto 120px;

    @include tablet-l {
        width: var(--container-tablet-landscape);
    }

    @include tablet-p {
        width: var(--container-tablet-portrait);
    }

    @include phone-max {
        width: 100%;
            flex-direction: column; 
            margin: 0px;
            padding: 4em 0em;
    }

    .error-required-field-description {
        display: none;
    }

    .coverSection {
        width: 40%;
        img {
            width: 100%;
        }
        @include phone-max {
            display: none;
          order: 2;
          width: 100%;
        }
        span{
            color: var(--gray-color-800);
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    .formRegister {
        width: 60%;
        text-align: center;
        @include phone-max {
            width: 100%;
            padding:0em 1em;
            text-align: left;
        }
        h2 {
            @include phone-max {
                padding-bottom: 0.5em;
                text-align: center;
            }
        }
        .FormGroup {
            width: 80%;
            margin: 0 auto 0;
            display: flex;
            flex-direction: row;
            @include phone-max {
                flex-direction: column;
                width: 100%;
                margin: 0px;
            }
            :first-child {
                margin-right: 16px;
                text-align: left;
            }

            a {
                color: var(--color-text);
                text-decoration: none;
            }
            .has-error-description {
                display: block;
            }
        }

        .FormGroupFull {
            width: 50%;
            margin: 0 auto 0;
            display: flex;
            flex-direction: row;
        }

        .has-error {
            border: 1px solid #ff5851;
            ::placeholder{
                color: #e98787;
            }
        }

    }


}