@import "./../base/_grid.scss";

.DetailPostComponent {
  width: var(--container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 80px auto 120px;

  @include tablet-l {
    width: var(--container-tablet-landscape);
  }

  @include tablet-p {
    width: var(--container-tablet-portrait);
  }

  .skillTags {
    width: 35%;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include tablet-l {
      width: var(--container-tablet-landscape);
    }

    @include tablet-p {
      width: var(--container-tablet-portrait);
    }

    @include phone {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    @include phone-max {
       
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;   
    }
  }
.cursorText {
  cursor: default !important;
}
  .cardApply {
    background-color: var(--light-color);
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: row;

    @include tablet-l {
      width: var(--container-tablet-landscape);
    }

    @include tablet-p {
      width: var(--container-tablet-portrait);
    }

    @include phone {
        
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include phone-max {
       
      display: flex;
      flex-direction: column;
      align-items: left;
    }


    .logoBrand{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 10%;
      img{
          border-radius: 16px;
          width: 80px;
          height: 80px;
      }

      @include tablet-l {
        width: var(--container-tablet-landscape);
      }

      @include tablet-p {
        width: 20%;
      }

      @include phone {
        width: 100%;
        margin-bottom: 24px;
      }
      @include phone-max {
        width: 100%;
        margin-bottom: 24px;
        align-items: center;
      }
    }

    .infoApply {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @include tablet-l {
        width: var(--container-tablet-landscape);
      }

      @include tablet-p {
        width: 50%;
      }

      @include phone {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
      }
      @include phone-max {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
      }

      p {
        @include phone {
          margin-top: 4px;
        }
        @include phone-max {
          margin-top: 4px;
        }
      }
    }

    .actionApply {
      width: 25%;
      text-align: right;
      flex-direction: column;
      justify-content: center;

      @include tablet-p {
        width: 30%;
      }

      @include phone {
        width: 100%;
        text-align: center;
      }
      @include phone-max {
        width: 100%;
        text-align: center;
      }

      p {
        @include phone {
          margin-top: 8px;
        }
      }
    }
  }

  .detailsApply {
    display: flex;
    flex-direction: row;

    @include phone {
        
      display: flex;
      flex-direction: column;
    }
    @include phone-max {
       
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }

    .leftBox {
      width: 70%;
      margin-right: 28px;
      text-align: left;

      @include phone {
        width: 100%;
      }
      @include phone-max {
        width: 100%;
      }
    }

    .rightBox {
      width: 30%;
      margin-left: 28px;
      text-align: left;
      @include phone {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
      }

      @include phone-max {
        width: 100%;

        margin-left: 0;
        margin-top: 40px;
      }

      ul li {
        list-style: none;
        margin-bottom: 8px;

        &::before {
          content: "";
          display: inline-block;
          width: 7px;
          height: 7px;
          margin-right: 8px;
          margin-bottom: 2px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: var(--gray-color-900);
        }
      }
    }
  }

  .postRelated {
    text-align: left;
    padding-top: 40px;
    h2{
      @include phone-max {
        text-align: center;
      }
    }
    @include tablet-l {
      width: var(--container-tablet-landscape);
    }

    @include tablet-p {
      width: var(--container-tablet-portrait);
    }

    @include phone {
        
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 24px;
    }
    @include phone-max {
       
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }
}