@import "./../base/_grid.scss";

.LoginPage {
  width: var(--container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 80px auto 40px;
  .FormGroup{
    width: 60%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    @include phone-max {
      width: var(--container-phone-max);
      padding: 0 5%;
    }
    a{
        color: var(--color-text);
        text-decoration: none;
    }
 
}
  @include tablet-l {
    width: var(--container-tablet-landscape);
  }

  @include tablet-p {
    width: var(--container-tablet-portrait);
  }

  @include phone-max {
    width: var(--container-phone-max);
  }

  @include phone {
    width: var(--container-phone);
  }


}