@import "./../base/_grid.scss";

.myAccountPage {
  width: var(--container);
  display: flex;
  flex-direction: row;
  margin: 80px auto 120px;

  a{
    cursor: pointer;
  }

  @include tablet-l {
    width: var(--container-tablet-landscape);
  }

  @include tablet-p {
    width: var(--container-tablet-portrait);
  }

  @include phone {
    width: var(--container-phone);
  }

  .react-tabs {
    display: flex;
    margin-left: 36px;
    width: 100%;
    .list {
      display: flex;
      flex-direction: column;
      margin-right: 69px;

    }
  }

  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
    padding: 0;
    color: white;
    background: #3c3e43;
  }

  .react-tabs__tab {
    height: 40px;
    list-style: none;
    padding: 12px 6px;
    margin-bottom: 8px;
    cursor: pointer;
    color: var(--gray-color-900);
  }

  .react-tabs__tab--selected {
    background: #1c1d1f;
    border-color: #1c1d1f;
    border-left: 4px solid #6eb800;
    color: var(--primary-color);
  }

  .react-tabs__tab-panel {
    display: none;
    width: 80%;
  }

  .react-tabs__tab-panel--selected {
    display: block;
  }

  .react-tabs__tab {
    padding-left: 0px !important;
  }

  .react-tabs__tab--selected {
    padding-left: 0px !important;
  }

  .panel-content {
    text-align: center;
  }




  .sideBarMenu {
    width: 100%;
    // padding-left: 20px;
    margin-right: 56px;

    span {
      color: var(--gray-color-900);
    }
  }

  .sectionAccount {
    width: 100%;

    .FormGroup {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-between;

      :first-child,
      :last-child {
        width: 48%;
      }
    }
  }
}


.apply,.billing{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: center;
  img{
    margin-bottom: 24px;
  }
}
.proyects{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.listCards{
  width: 100%;
  li{
    display: flex;
    flex-direction: row;
    img{
      margin-right: 1rem;
    }
  }
}

.rowPost{
  background-color: var(--gray-color-100) ;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 1rem;
}

.listCards{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .cardHistory{
    width: 49%;
    margin-bottom: 1rem;
    .headCard{
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 167% */
    
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;
      
    
      /* color-accent */
    
      color: #6F7DFF;
      background: #F0F2FA;
      border-radius: 8px 8px 0px 0px;
  
      display: flex;
      flex-direction: column;
      padding: 8px 0;
      span{
        font-weight: 400;
      }
      strong{
        font-weight: 700;
        text-transform: uppercase;
      }
  
    }
    .contentCard{
      border: 3px solid #F0F2FA;
      padding: 24px;
      border-radius: 0px 0px 8px 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      .listCard{
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-bottom: 24px;
        line-height: 24px;
      }
  
    }
  }
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
}
