@import "./../base/_grid.scss";

.RegisterPage {
    width: var(--container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto 40px;
    

    @include tablet-l {
        width: var(--container-tablet-landscape);
    }

    @include tablet-p {
        width: var(--container-tablet-portrait);
    }
@include phone-max {
        width: 100%;
        margin: 0px;
        padding: 4em 0em;
    }
    
    .error-required-field-description {
        display: none;
    }
    .FormGroup {
        width: 48%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include phone-max {
            width: 100%;
            margin: 0px;
            padding-top: 1em;
        }
        :first-child {
            margin-right: 16px;
            text-align: left;
            @include phone-max {

            }
        }

        a {
            color: var(--color-text);
            text-decoration: none;
        }
        .has-error-description {
            display: block;
           
        }
        .has-error-description-email {
            display: block;
        }
    } 
    .inputContainer {
    width: 50%;
   }

    .formSection{
        width: 70%;
        margin: 0 auto;
        @include phone-max {
            width: 100%;
            margin: 0px;
            padding: 0em 1em; 
        }
        h2 {
            padding-bottom: 1.75em;
            @include phone-max {
                text-align: center;
                padding-bottom: 0.75em;
            }  
        }
    }
    .text-center{
        text-align: center;
    }
    .align-items-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .d-flex{
        display: flex;
    }
    .flex-row{
        flex-direction: row;
        @include phone-max {
            flex-direction: column;
        }
    }
    .flex-col{
        flex-direction: column;
    }

    .FormGroupFull {
        width: 50%;
        margin: 0 auto 0;
        display: flex;
        flex-direction: row;
    }

    .has-error {
        border: 1px solid #ff5851;
        ::placeholder{
            color: #e98787;
        }
    }

    .has-error-email {
        border: 1px solid #ff5851;
        ::placeholder{
            color: #e98787;
        }
    }
}

.dfr{
    display: flex;
    flex-direction: row;
}

.jc-sb{
    display: flex;
    justify-content: space-between;
}