@import "./../base/_grid.scss";


.BecauseSection {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 12%;
  h2 {
    color: var(--dark-color) !important;
    font-size: 32px;
  }
  @include tablet-l {
    padding: 80px 2em;
  }
  @include phone {
    flex-direction: column;
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 56px;

    @include phone {
      display: flex;
      flex-direction: column;
    }
    aside { 
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 8px;
        width: 37%;
        @include tablet-l {
          width: 35%;
        }
        @include phone {

        }
      }

      h3 {
        font-size: 18px;
        font-weight: 500;
        padding-top: 16px;
        text-align: center;
        @include tablet-l {}
      }
    }
  }
}

.Policies {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 80px 12%;

  h1{
    text-align: center;
    font-size: 40px;
  }

  h2 {
    color: var(--dark-color) !important;
    font-size: 32px;
    margin-right:auto
  }

  ul{
    padding-left: 30px;
  }

  li{
    list-style-type: '* ';
    padding-left: 5px;
  }
}