@import "./../base/_grid.scss";

.sectionFull {
  width: 100%;
  background-color: var(--gray-color-900);
  padding: 93px 12%;
  @include tablet-l {
    padding: 93px 2em;
  }
  .CtaSection {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      color: var(--light-color) !important;
      padding-right: 2em;
      @include tablet-l {
        padding: 0em;
      }
    }

    @include tablet-l {}

    @include phone {
      flex-direction: column;
      h2{
        margin-bottom: 48px;
        font-size: 24px;
      }
    }
  }
}