@import "./../base/_grid.scss";

.HeroComponent {
    width: var(--container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 152px auto ;
    text-align: center;


    aside {
        flex: 1;
        &:last-child {
            margin-top: 72px;

            input,
            select {
                margin-right: 32px;
            }
        }
    }
}

