@import "./../base/_grid.scss";

.secFull{
    width: 100%;
    background-color: var(--gray-color-100);
.HeroComponent {
    width: var(--container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 ;
    text-align: center;
    background-color: var(--gray-color-100);

    @include tablet-p {
        width: var(--container-tablet-portrait); 
    }
    @include phone {
        width: var(--container-phone);  
        margin: 0 auto;
        padding-top: 56px;
    }
    .cover{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include phone {
            display: flex;
            flex-direction: column;
        }
        article{
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: center;
      
            h1{
                font-size: 48px;
                padding-bottom: 40px;
                color: var(--acent-color)!important;
                font-style: italic;
            }
           
        }
        .coverImg{
            img{
                @include phone {
                    width: 100%;
                }
            }
        }
    }
   
}

}

.filterSection {
    width: var(--container);
    margin: 80px auto 0;
    display: flex;
    flex: 1;

    @include tablet-p {
        width: var(--container-tablet-portrait); 
    }
    @include phone {
        width: var(--container-phone); 
        display: flex;
        flex-direction: column; 
    }

    &:last-child {
        margin-top: 72px;

    }
}