@import "./../base/_grid.scss";

.HeroComponent {
    width: var(--container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 152px auto ;
    text-align: center;

    @include tablet-p {
        width: var(--container-tablet-portrait); 
    }
    @include phone {
        width: var(--container-phone);  
        margin: 56px auto ;
    }

    .filterSection {
        display: flex;
        flex: 1;
        @include tablet-p {
            width: var(--container-tablet-portrait); 
        }
        @include phone {
            width: var(--container-phone); 
            display: flex;
            flex-direction: column; 
        }
    
        &:last-child {
            margin-top: 72px;

        }
    }
}

