@import "./../base/_grid.scss";

.ListPostComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 0;
    text-align: center;
    padding: 0px 12%;
    @include tablet-l {
        padding: 0px 8%;
    }
    @include phone {
        padding: 0px 2em;
    }
    
 aside{
     border-radius: 24px;
    article{
        display: flex;
        flex-direction: row;
        padding: 24px;
        background-color: var(--light-color);
        margin-bottom: 4px;
        &:hover{
            background-color: #F4F5F6;
        }
        .logoBrand{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 15%;
            padding: 0em 1em;
            img{
                border-radius: 16px;
                width: 90%;
                height: auto;
                @include tablet-l {
                    width: 100%;
                }
                @include phone {
                    width: 50%;
                }
            }
            @include tablet-l {
                width: 15%;
                padding: 1em 1em 1em 0em;
            }
            @include phone {
                width: 100%;
            }
        }
        .rContent{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 85%;
            .title{
                width: 35%;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                @include phone {
                    width: 100%;
                }
            }
            .ubication{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                @include phone {
                    width: 100%;
                }
            }
            .actions{
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include phone {
                    width: 100%;  
                    margin-top: 2rem
                }
                @include phone {
                    width: 100%;
                    margin-top: 2rem
                }
            }
            @include tablet-l {
                width: 85%;
            }
            @include phone {
                flex-direction: column;
                width: 100%;

            }
        }

        @include phone {
            flex-direction: column;
        }
    }
 }
    .height {
        padding-top: 65px;
    }
}