@import "./../base/_grid.scss";

.PartnerSection{
    display: flex;
    flex-direction: row;
    h2 {
      color: var(--dark-color) !important;
      font-size: 32px;
    }
    p{
      font-size: 24px;
      font-weight: 300;
    }

    @include tablet-p {
      width: var(--container-tablet-portrait);
    }

    @include phone {
      flex-direction: column;
    }
    @include phone-max {
      flex-direction: column;
    }

    article{
        width: 50%;
        padding: 70px 0 70px 17.5%;
        background-color: var(--primary-color);
        @include phone {
          width: 100%;
          padding: 70px 0 70px 5%;
        }
        @include phone-max {
          width: 100%;
          padding: 70px 0 70px 5%;
        }
        h2{
          font-size: 36px;
          color: var(--light-color)!important;
        }
        p{
          padding-top: 16px;
          color: var(--light-color);
        }
        &:last-child{
            background-color: var(--primary-color);
            display: flex;
            padding: 70px 15% 70px 5%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            background-color: var(--accent-color-2);
            @include phone {
              padding: 70px 5% 70px 5%;
            }
            @include phone-max {
              display: flex;
              flex-wrap: wrap;
            }
            img{
              padding-right: 2.5rem;
              @include phone-max {
                padding-right: 1rem;
              }
            }
        }
    }

}